<!DOCTYPE html>
<html>
  <head>
    <title>OmiseRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <% if controller.controller_name == "charge" %>
      <%= render "google/google_pay" %>
    <% end %>  

  </head>

  <body>
    <%= yield %>
  </body>
</html>
